In [156]:
import numpy as np
import pandas as pd

In [80]:
crop=pd.read_csv("C:\\Users\\md kaif\\Downloads\\apy_2.csv")

In [81]:
crop.head(20)

,Unnamed: 0,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,0,Karnataka,UDUPI,2005,Rabi,Horse-gram,1122.0,836.0
1,1,Madhya Pradesh,GWALIOR,2003,Whole Year,Brinjal,194.0,0.0
2,2,Andhra Pradesh,CHITTOOR,2010,Rabi,Sesamum,334.0,118.0
3,3,Andhra Pradesh,KRISHNA,2014,Rabi,Tomato,538.0,7289.0
4,4,Uttar Pradesh,SULTANPUR,2011,Rabi,Coriander,59.0,33.0
5,5,Rajasthan,JODHPUR,2002,Whole Year,Onion,6239.0,58370.0
6,6,Assam,KAMRUP,2006,Kharif,Niger seed,654.0,327.0
7,7,Assam,SIVASAGAR,2014,Autumn,Rice,86.0,134.0
8,8,Bihar,JEHANABAD,2001,Whole Year,Potato,2506.0,19513.0
9,9,Odisha,NAYAGARH,2009,Winter,Horse-gram,1935.0,611.5
10,10,Assam,DIBRUGARH,2011,Rabi,Black pepper,65.0,119.0
11,11,Madhya Pradesh,MORENA,2008,Kharif,Groundnut,139.0,126.0
12,12,Madhya Pradesh,SIDHI,2013,Whole Year,Onion,283.0,1829.0
13,13,Chhattisgarh,DURG,2001,Whole Year,Turmeric,2.0,2.0
14,14,Kerala,PATHANAMTHITTA,2002,Whole Year,Sweet potato,4.0,44.0
15,15,Telangana,NIZAMABAD,2010,Whole Year,Sunflower,5934.0,5673.0
16,16,Madhya Pradesh,DINDORI,1999,Rabi,Rapeseed &Mustard,17079.0,11875.0
17,17,Assam,LAKHIMPUR,1998,Autumn,Rice,18100.0,5844.0
18,18,Uttar Pradesh,KUSHI NAGAR,1997,Kharif,Groundnut,153.0,123.0
19,19,Madhya Pradesh,GWALIOR,2001,Whole Year,Potato,961.0,26936.0

In [82]:
crop.dtypes

Unnamed: 0         int64
State_Name        object
District_Name     object
Crop_Year          int64
Season            object
Crop              object
Area             float64
Production       float64
dtype: object

In [83]:
crop.isnull().sum()

Unnamed: 0          0
State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       1148
dtype: int64

In [89]:
crop.dropna(how="any",inplace=True)

In [90]:
crop.isnull().sum()

State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

In [87]:
crop.drop(columns=["Unnamed: 0"],inplace=True)

In [91]:
crop.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Karnataka,UDUPI,2005,Rabi,Horse-gram,1122.0,836.0
1,Madhya Pradesh,GWALIOR,2003,Whole Year,Brinjal,194.0,0.0
2,Andhra Pradesh,CHITTOOR,2010,Rabi,Sesamum,334.0,118.0
3,Andhra Pradesh,KRISHNA,2014,Rabi,Tomato,538.0,7289.0
4,Uttar Pradesh,SULTANPUR,2011,Rabi,Coriander,59.0,33.0

In [108]:
crop["Season"].unique()

array(['Rabi       ', 'Whole Year ', 'Kharif     ', 'Autumn     ',
       'Winter     ', 'Summer     '], dtype=object)

In [2]:
#1
crop[crop["Season"]=="Summer     "]

NameError: name 'crop' is not defined

In [163]:
##Q.3
crop.groupby("Crop_Year")["Area"].agg(["max","min"]).head(20)

                 max   min
Crop_Year
1997       4205800.0  1.00
1998        545286.0  1.00
1999        699894.0  1.00
2000        636700.0  1.00
2001        483246.0  1.00
2002        672100.0  1.00
2003       1020181.0  1.00
2004        857823.0  0.50
2005        464880.0  1.00
2006        933271.0  1.00
2007        448200.0  1.00
2008        608851.0  1.00
2009        967622.0  1.00
2010        545965.0  1.00
2011        482718.0  0.63
2012        486172.0  1.00
2013        711145.0  1.00
2014        496134.0  1.00
2015        278000.0  1.00

In [155]:
crop.groupby(["State_Name"])["Production"].agg(["max"])

                                      max
State_Name
Andaman and Nicobar Islands  7.130000e+07
Andhra Pradesh               7.801620e+08
Arunachal Pradesh            3.501000e+04
Assam                        3.790100e+07
Bihar                        7.288132e+06
Chandigarh                   3.960000e+03
Chhattisgarh                 8.447640e+05
Dadra and Nagar Haveli       1.229600e+05
Goa                          7.141000e+07
Gujarat                      9.147000e+06
Haryana                      2.650000e+06
Himachal Pradesh             1.702830e+05
Jammu and Kashmir            1.628500e+05
Jharkhand                    5.095690e+05
Karnataka                    1.626448e+07
Kerala                       1.001000e+09
Madhya Pradesh               1.205590e+06
Maharashtra                  1.696350e+07
Manipur                      6.799000e+04
Meghalaya                    1.128920e+05
Mizoram                      5.024100e+04
Nagaland                     1.260400e+05
Odisha                       6.460000e+05
Puducherry                   2.201200e+07
Punjab                       1.969000e+06
Rajasthan                    8.160590e+05
Sikkim                       2.686000e+04
Tamil Nadu                   2.972000e+08
Telangana                    1.193314e+07
Tripura                      2.824380e+05
Uttar Pradesh                1.550314e+07
Uttarakhand                  4.390760e+06
West Bengal                  7.509500e+07

In [141]:
#10
crop["Area"].mean()

12035.385977242398